# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
venv/
.venv/

# Env
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# FastAPI / cache
.pytest_cache/
.mypy_cache/

# backup
_backup/
._backup/